<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Hello World!</h1>
      <%= link_to "Click Me!", "#", class: "btn btn-success" %>
      <button class="btn btn-primary">Click Me!</button>
    </div>
  </div>
</div>